<h1>{$titulo}</h1>
<p>{$descripcion}</p>
<form name="frmPerfil" id="frmPerfil" method="post" onsubmit="return validarForce(this);">
	<fieldset>
		<legend>Datos de Usuario</legend>
		<label>Nombre de Usuario:<br> <input type="text"
			name="user" id="user" value="{$nick}" readonly="readonly"
			class="required" />
		</label> <label>Nueva Clave: <br> <input type="password"
			name="clave" id="clave" value="" class="required" />
		</label>
		<p>{$mensaje}</p>
		<div id="progressbar">
			<div id="progress"></div>
		</div>
		<div id="status">
			<div id="complexity">0%</div>
			<input type="hidden" name="force" id="force" value="39"
				class="required" />
			<div id="complexityLabel">Fuerza de Clave</div>
		</div>
	</fieldset>

	<input type="hidden" name="module" id="module" value="{$module}" /> <input
		type="hidden" name="view" id="view" value="{$view}" /> <input
		type="hidden" name="id" id="id" value="{$id}" /> <input type="submit"
		name="guardar" id="guardar" value="Guardar"> <input
		type="hidden" name="action" id="action" value="{$action}">
</form>