<h1>{$titulo}</h1>

<p>
	<a href="?module={$module}&view={$view}&action=add">Nuevo Nivel...</a>
</p>

<table>
	<tr>
		<th>N°</th>
		<th>Nombre</th>
		<th>Home por defecto</th>
		<th>Módulos</th>
		<th>Descripción</th>
		<th>&nbsp;</th>
	</tr>
	{foreach $niveles as $item}
	<tr>
		<td align="center">{$item.numero}</td>
		<td>{$item.nombre}</td>
		<td>{$item.home}</td>
		<td>{$item.modulos}</td>
		<td>{$item.descripcion}</td>
		<td align="right"><a
			href="?module={$module}&view={$view}&action=del&id={$item.id}">Borrar</a>
			<a href="?module={$module}&view={$view}&action=edit&id={$item.id}">Editar</a>
		</td>
	</tr>
	{foreachelse}
	<tr>
		<td colspan="6">No existen Niveles cargados.</td>
	</tr>
	{/foreach}
</table>

<p>
	<a href="?module={$module}&view={$view}&action=add">Nuevo Nivel...</a>
</p>